{% extends 'base.html' %}

{% block content %}
    <h1>Pemrosesan Gambar dengan Efek Blur</h1>
    <fieldset class="image-form">
        <form method="POST" action="{{ url_for('blur_image') }}" enctype="multipart/form-data" class="form">
            <div class="form-group">
                <label for="file">Pilih Gambar:</label>
                <input type="file" name="file" accept=".jpg, .jpeg, .png" required>
            </div>

            <div class="form-group">
                <label for="blur-radius">Radius Blur:</label>
                <input type="number" id="blur-radius" name="blur_radius" min="1" value="5" required>
            </div>

            <div class="form-group">
                <label for="width">Lebar:</label>
                <input type="number" id="width" name="width" min="1" value="800" required>
            </div>

            <div class="form-group">
                <label for="height">Tinggi:</label>
                <input type="number" id="height" name="height" min="1" value="600" required>
            </div>

            <button type="submit">Upload</button>
        </form>

        {% if result_image %}
            <div class="result-section">
                <h2>Gambar yang Telah Diberi Efek Blur</h2>
                <img src="{{ result_image }}" alt="Gambar yang Telah Diberi Efek Blur">
                <a href="{{ url_for('download_file', filename='blurred_' + unique_filename) }}?timestamp={{ current_time }}" download class="download-button">
                    <button>Unduh Gambar</button>
                </a>
            </div>
        {% endif %}

        <p>{{ message }}</p>
    </fieldset>
{% endblock %}
