{% extends 'base.html' %}

{% block content %}
    <div class="landing">
        <p> Algoritma Dynamic Programming</p>
    </div>
    <div class="iklan"> 
        <p>Pemrosesan Dengan Algoritma Dynamic Programming</p>
    </div>

    <div class="row">
        <div class="col">
            <img src="{{ url_for('static', filename='images/blur.jpeg') }}" alt="blur" class="blur-img">
            <p>Mengubah Gambar anda menjadi blur</p>
            <a href="{{ url_for('blur_image') }}" class="btn-blue">Masuk</a>
        </div>
        <div class="col">
            <img src="{{ url_for('static', filename='images/hitamputih.jpeg') }}" alt="hitamputih" class="hitam-img">
            <p>Mengubah Gambar anda menjadi Hitam Putih</p>
            <a href="{{ url_for('black_and_white_image') }}" class="btn-blue">Masuk</a>
        </div>
    </div>
{% endblock %}